doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title #{title}
    link(rel="stylesheet" href="/styles.css" type="text/css")
    script(src="/script.js" defer)
    
  body
    block nav 
      nav.navbar     
        ul
          li 
            a(href="/jokes/random") Random Joke
          li 
            a(href="/jokes/all") All Categories
          li 
            a(href="jokes/new") Create A New Joke 
        ul.search-box 
          li 
            input(type="text" placeholder="Search By Category..").search-bar
    block layout-content
