extends layout.pug

block layout-content
  h1 Categories
  a(href="/jokebook/new-joke")
    button Create a New Joke
  ul
    each category in categories
      li
        a(href=`/jokes/${category.name}`) #{category.name}
